<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.canigraduate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".CollectviewActivity"></activity>
        <activity android:name=".Graduationpoint_kakaoActivity"></activity>
        <activity android:name=".BasicActivity"></activity>
        <activity android:name=".MajorsearchActivity"></activity>
        <activity android:name=".WholecultureActivity"></activity>
        <activity android:name=".MajordetailActivity"></activity>
        <activity android:name=".Kakao2Activity"></activity>
        <activity android:name=".Kakao3Activity"></activity>
        <activity android:name=".Kakao4Activity"></activity>
        <activity android:name=".KakaopopupActivity"></activity>
        <activity android:name=".PrimalActivity"></activity>
    </application>

</manifest>